[Unit]
Description=xremap key remapper

[Service]
ExecStart=/usr/local/bin/xremap --watch=config,device --device "SIGMACHIP" %h/.config/xremap/config.yml
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
